<a class="project-card-link" href="<%= project.link %>">
  <div class="project-card">
    <div class="project-image">
      <img src="<%= project.image %>" alt="<%= project.title %>" style="object-fit: contain; background: transparent; width: 100%; height: 100%;">
    </div>
    <div class="project-title"><%= project.title %></div>
    <div class="project-description"><%= project.description %></div>
  </div>
</a> 